Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteRule ^terms-and-conditions /terms-and-conditions.html [R,L,NE]
RewriteRule ^privacy-policy /privacy-policy.html [R,L,NE]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ /#/$1 [R,L,NE]


